{{!-- <!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Your favorite movies!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

        <!-- Display similar movies -->
        <div id="similar-movies">
            {{#each similarMovies}}
                <p>{{this.title}}</p>
            {{/each}}
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search App</title>
</head>
<body>
    <form id="searchForm">
        <input id="searchInput" placeholder="Search for a movie">
        <button type="submit">Search</button>
    </form>

    <div id="searchResult"></div>
    
    <script src="js/app.js"></script>
</body>
</html>